.navbar {
    overflow: hidden;
    padding-right: 250px;
    justify-content: space-between;
  
  }

  .navbar a {
    float: right;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  
  }
  
  .navbar a:hover {
    background-color: rgb(202, 40, 94);
    color: pink;
  }
  
 #hover{
    color: rgb(223, 38, 69);
 }
  .navbar a.split {
    float: left;
  margin-left: 180px;
    color: white;
  }
  button {
    border: solid rgb(223, 38, 69) ;
    padding: 10px 20px;
    color: white;
    background-color:rgb(224, 13, 83);
    text-align: center;
    border-radius: 25px;
    float: right;
    margin-top: 5px;
  }
  #loginbutton {
    margin-top: 5px;
    padding: 10px 25px;
    color: palevioletred;
    background-color:white;
    text-align: center;
    border-radius:   20px;
    border: solid rgb(223, 38, 69);
    float: right;

  }
  #logo{
    color: red;
  }
  #skill{
    color: grey;
    
  }
  
  .landingpage{
    display: flex;
    flex: auto auto;
    justify-content: space-around;
    
    
   
  }
  #headings{
    color: rgb(49, 49, 82);
   font-size: 60px;
  }
  #inlinetext{
    color: rgb(223, 38, 69);
  
  }
  #additiontext{
    color: gray;
    font-size: 20px;

  }
  

  #heroimg{
    width: 500px;
    height: 400px;
    border-radius: 500px;
  }
  .landingpageimage{
    margin-top: 50px;
    margin-right: 200px;
  } 
  .socials{
    display: flex;
    justify-content: space-around;
    margin: 4%;
    
  }
  .landingpagetext{
    margin-left: 100px;
    margin-top: 50px;
  }
  .explore{
    position: relative;
    display:inline-table
  }
  .explore input {
    padding-right: 40px;
    border-radius: 21px;
    padding: 10px 10px;
    width: 150%;
    border: grey 1px solid;
}
.explore button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-color: #E82F4E;
    color: white;
    border-radius: 19px;
    padding: 10px 1px;
    transform: translate(159%,-12%);
    font-size: 84%;
}
 
  @media only screen and  (min-width:200px) and (max-width: 400px) {
    
    .landingpage{
      flex-wrap: wrap;
    }
    .landingpagetext{
      margin-left: 0px;
      
    }
    #h1{
      color: rgb(49, 49, 82);
     font-size: 40px;
    }
    #p1{
      color: rgb(223, 38, 69);
    
    }
    #p2{
      color: gray;
      font-size: 15px;
  
    }
    #heroimg{
      width: 250px;
      height: 300px;
      border-radius: 500px;
    }
    .socials{
    flex-wrap: wrap;
      margin-left: 0px;
    }
    .explore{
      position: relative;
      display: inline-block;
    }
    .explore input {
      padding-right: 40px;
      border-radius: 21px;
      padding: 10px 10px;
      width: 150%;
      border: grey 1px solid;
  }
  .explore button {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      background-color: #E82F4E;
      color: white;
      border-radius: 19px;
      padding: 13px 1px;
      transform: translate(169%,-1%);
      font-size: 84%;
  }
   
 
  }
   
  @media only screen and  (min-width:400px)  and (max-width: 600px){
  
    
    .landingpage{
      flex-wrap: wrap;
    }
    .landingpagetext{
      margin-left: 0px;
      
    }
    #headings{
      color: rgb(49, 49, 82);
     font-size: 40px;
    }
    #inlinetext{
      color: rgb(223, 38, 69);
    
    }
    #additiontext{
      color: gray;
      font-size: 15px;
  
    }
    #heroimg{
      width: 250px;
      height: 300px;
      border-radius: 500px;
    }
    .socials{
    flex-wrap: wrap;
      margin-left: 0px;
    }
    .explore{
      position: relative;
      display: inline-block;
    }
    .explore input {
      padding-right: 40px;
      border-radius: 21px;
      padding: 10px 10px;
      width: 150%;
      border: grey 1px solid;
  }
  .explore button {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      background-color: #E82F4E;
      color: white;
      border-radius: 19px;
      padding: 13px 1px;
      transform: translate(169%,-1%);
      font-size: 84%;
  }
  }
  @media only screen and  (min-width:600px) and (max-width: 800px) {
    .navbar {
      overflow: hidden;
      padding-right: 250px;
      justify-content: space-between;
    
    }
  
    .navbar a {
      float: right;
      color: gray;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
    
    }
    
    .navbar a:hover {
      background-color: rgb(202, 40, 94);
      color: pink;
    }
    .landingpage{
      flex-wrap: wrap;
    }
    .landingpagetext{
      margin-left: 0px;
      
    }
    #h1{
      color: rgb(49, 49, 82);
     font-size: 40px;
    }
    #p1{
      color: rgb(223, 38, 69);
    
    }
    #p2{
      color: gray;
      font-size: 15px;
  
    }
    #heroimg{
      width: 250px;
      height: 300px;
      border-radius: 500px;
    }
    .socials{
    flex-wrap: wrap;
      margin-left: 0px;
    }
    .explore{
      position: relative;
      display: inline-block;
    }
    .explore input {
      padding-right: 40px;
      border-radius: 21px;
      padding: 10px 10px;
      width: 150%;
      border: grey 1px solid;
  }
  .explore button {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      background-color: #E82F4E;
      color: white;
      border-radius: 19px;
      padding: 13px 1px;
      transform: translate(169%,-1%);
      font-size: 84%;
  }

  }
  @media only screen and  (min-width:800px) and (max-width: 1000px) {
    .navbar {
      overflow: hidden;
      padding-right: 250px;
      justify-content: space-between;
    
    }
  
    .navbar a {
      float: right;
      color: gray;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
    
    }
    
    .navbar a:hover {
      background-color: rgb(202, 40, 94);
      color: pink;
    }
    .landingpage{
      flex-wrap: wrap;
    }
    .landingpagetext{
      margin-left: 0px;
      
    }
    #h1{
      color: rgb(49, 49, 82);
     font-size: 40px;
    }
    #p1{
      color: rgb(223, 38, 69);
    
    }
    #p2{
      color: gray;
      font-size: 15px;
  
    }
    #heroimg{
      width: 250px;
      height: 300px;
      border-radius: 500px;
    }
    .socials{
    flex-wrap: wrap;
      margin-left: 0px;
    }
    .explore{
      position: relative;
      display: inline-block;
    }
    .explore input {
      padding-right: 40px;
      border-radius: 21px;
      padding: 10px 10px;
      width: 150%;
      border: grey 1px solid;
  }
  .explore button {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      background-color: #E82F4E;
      color: white;
      border-radius: 19px;
      padding: 13px 1px;
      transform: translate(169%,-1%);
      font-size: 84%;
  }

  }
 